.errorWrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.errorWrapp img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.error{
    color: red;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}